---
title: Tabbed List Widget Exploration
---

<body>
  <%= partial "partials/header" %>

  <div class="left-nav">
    <%= image_tag "partials/left-nav.jpg" %>
  </div>

  <div class="tabbed-list__wrapper">

    <!-- Tab JS -->
    <script type="text/javascript" />
      $('.tabs').tabslet();
    </script>

    <div class='tabs tabs_default'>
      <ul class='horizontal'>
        <li class="tabs__item"><a href="#tab-1">Best Sellers</a></li>
        <li class="tabs__item"><a href="#tab-2">Indie Titles</a></li>
        <li class="tabs__item"><a href="#tab-3">PC Best Sellers</a></li>
      </ul>

      <div id='tab-1' class="tabbed_content">
        <span>
          <div class="tabbed-list__group tabbed-list__group--first">
            <div class="tabbed-list__thumbnail">
              <a href="#">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <p class="tabbed-list__best-seller-badge tabbed-list__best-seller-badge--true">
                  #1 Seller
                </p>
                <div class="tabbed-list__desc">
                  <a href="#" class="tabbed-list__desc-link">
                    BioShock Infinite - Xbox 360
                    <span></span>
                  </a>
                  <%= partial "partials/price-block" %>
                </div>
              </a>
            </div>
          </div>

          <div class="tabbed-list__group">
            <div class="tabbed-list__thumbnail">
              <a href="#">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <p class="tabbed-list__best-seller-badge">
                </p>
                <div class="tabbed-list__desc">
                  <a href="#" class="tabbed-list__desc-link">
                    BioShock Infinite - Xbox 360
                    <span></span>
                  </a>
                  <%= partial "partials/price-block" %>
                </div>
              </a>
            </div>
          </div>

          <div class="tabbed-list__group">
            <div class="tabbed-list__thumbnail">
              <a href="#">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <p class="tabbed-list__best-seller-badge">
                </p>
                <div class="tabbed-list__desc">
                  <a href="#" class="tabbed-list__desc-link">
                    BioShock Infinite - Xbox 360
                    <span></span>
                  </a>
                  <%= partial "partials/price-block" %>
                </div>
              </a>
            </div>
          </div>

          <div class="tabbed-list__group">
            <div class="tabbed-list__thumbnail">
              <a href="#">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <p class="tabbed-list__best-seller-badge">
                </p>
                <div class="tabbed-list__desc">
                  <a href="#" class="tabbed-list__desc-link">
                    BioShock Infinite - Xbox 360
                    <span></span>
                  </a>
                  <%= partial "partials/price-block" %>
                </div>
              </a>
            </div>
          </div>

          <div class="tabbed-list__group">
            <div class="tabbed-list__thumbnail">
              <a href="#">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <p class="tabbed-list__best-seller-badge">
                </p>
                <div class="tabbed-list__desc">
                  <a href="#" class="price-block__title">BioShock Infinite - Xbox 360</a>
                  <%= partial "partials/price-block" %>
                </div>
              </a>
            </div>
          </div>

        </span>
      </div>

      <!-- Begin second tab aka slat iteration -->
      <div id='tab-2' class="tabbed_content">
        <span>
          <div class="tabbed-list__slats">
            <div class="tabbed-list__slat-group">
              <img class="tabbed-list__slat-image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
              <h3>This is the title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </div>
            <!-- li class="group">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <h3>This is the title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="meta">August 10, 2011</span></p>
            </li -->
            <!-- li class="group">
              <a href="#">
                <img class="tabbed-list__image" src="../images/tabbed-list/bioshock.jpg" alt=""/>
                <h3>This is the title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="meta">August 10, 2011</span></p>
              </a>
            </li -->
          </div>
        </span>
      </div>

      <div id='tab-3' class="tabbed_content">
        <span>Tab 3</span>
      </div>
    </div>
  </div>
</body>