---
title: Tabbed List Widget Exploration
---

<body>
  <%= partial "partials/header" %>

  <div class="left-nav">
    <%= image_tag "partials/left-nav.jpg" %>
  </div>

  <div class="tabbed-list__wrapper">

    <!-- Tab JS -->
    <script type="text/javascript" />
      $('.tabs').tabslet();
    </script>

    <div class='tabs tabs_default'>
      <ul class='horizontal'>
        <li class="tabs__item"><a href="#tab-1">Best Sellers</a></li>
        <li class="tabs__item"><a href="#tab-2">Indie Titles</a></li>
        <li class="tabs__item"><a href="#tab-3">PC Best Sellers</a></li>
        <%= partial "partials/dropdown--sort" %>
      </ul>

      <div id='tab-1' class="tabbed_content">
        <span>
          <div class="tabbed-list__slats">
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
          </div>
        </span>
      </div>

      <div id='tab-2' class="tabbed_content">
        <span>
          <div class="tabbed-list__slats">
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
          </div>
        </span>
      </div>

      <div id='tab-3' class="tabbed_content">
        <span>
          <div class="tabbed-list__slats">
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
            <%= partial "partials/tabbed-list--slat" %>
          </div>
        </span>
      </div>
    </div>

    <div class="tabbed-list__footer">
      <ul class="tabbed-list__footer-breadcrumbs">
        <li class="tabbed-list__footer-breadcrumb">Best Sellers <i class="breadcrumb__entity">&#62;</i></li>
        <li class="tabbed-list__footer-breadcrumb">Best Match <i class="breadcrumb__entity">&#62;</i></li>
        <li class="tabbed-list__footer-breadcrumb"><a href="#">See All&nbsp;&raquo;</a></li>
      </ul>
    </div>
  </div>
</body>